<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright © 2014 TIBCO Software, Inc. All rights reserved.
    http://community.jaspersoft.com/project/jaspermobile-android

    Unless you have purchased a commercial license agreement from Jaspersoft,
    the following license terms apply:

    This program is part of Jaspersoft Mobile for Android.

    Jaspersoft Mobile is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Jaspersoft Mobile is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Jaspersoft Mobile for Android. If not, see
    <http://www.gnu.org/licenses/lgpl>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaspersoft.android.jaspermobile" >

    <!-- Allows applications to access information about networks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows application to open network sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allows an application to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
     No need for project and is ignored at runtime. This is useful for Android Studio exclusively.
     As soon as you run tests from it, you should explicitly tell him here about your default instrumentation.
    -->
    <instrumentation
        android:name="com.jaspersoft.android.jaspermobile.test.AnimLessInstrumentationTestRunner"
        android:targetPackage="com.jaspersoft.android.jaspermobile.test.acceptance" />

    <application
        android:name=".JasperMobileApplication_"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/Theme.JasperMobile" >

        <!-- Main activity -->
        <activity
            android:name=".activities.HomeActivity_"
            android:configChanges="locale" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.jaspersoft.android.samples.jaspermobile.action.EDIT_SERVER_PROFILE" />
                <action android:name="com.jaspersoft.android.samples.jaspermobile.action.CLOSE_APPLICATION" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Activity that shows intro page -->
        <activity
            android:name=".activities.intro.IntroPageActivity_"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JasperMobile.NoActionBar" />

        <!-- Activity that provides functionality for creating and modifying server profiles -->
        <activity
            android:name=".activities.profile.ServerProfileActivity_"
            android:configChanges="locale"
            android:label="@string/sp_bc_add_profile" />

        <!-- Activity that provides the server profiles management -->
        <activity
            android:name=".activities.profile.ServersManagerActivity_"
            android:configChanges="locale"
            android:label="@string/spm_list_title" />

        <!-- Activity that performs library view -->
        <activity
            android:name=".activities.repository.LibraryActivity_"
            android:configChanges="locale"
            android:label="@string/h_library_label" />

        <!-- Activity that performs repository view -->
        <activity
            android:name=".activities.repository.RepositoryActivity_"
            android:configChanges="locale"
            android:label="@string/h_repository_label" />

        <!-- Activity that performs viewing of the favorite items -->
        <activity
            android:name=".activities.favorites.FavoritesActivity_"
            android:configChanges="locale"
            android:label="@string/f_title" />

        <!-- Activity that performs viewing of the saved reports -->
        <activity
            android:name=".activities.storage.SavedReportsActivity_"
            android:configChanges="locale"
            android:label="@string/sdr_ab_title" />

        <!-- Activity that allows to specify the report options before running it -->
        <activity
            android:name=".activities.report.ReportOptionsActivity"
            android:configChanges="screenSize|orientation|locale"
            android:label="@string/ro_page_title"
            android:windowSoftInputMode="stateHidden" />

        <!-- Activity that performs report viewing in HTML format -->
        <activity
            android:name=".activities.viewer.html.report.ReportHtmlViewerActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <!-- Activity that performs report viewing in HTML format -->
        <activity
            android:name=".activities.viewer.html.SavedReportHtmlViewerActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <!-- Activity that performs dashboard viewing in HTML format -->
        <activity
            android:name=".activities.viewer.html.DashboardHtmlViewerActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <!-- Activity that performs report saving to the local storage -->
        <activity
            android:name=".activities.report.SaveReportActivity_"
            android:configChanges="screenSize|orientation|locale"
            android:label="@string/sr_ab_title"
            android:windowSoftInputMode="stateHidden" />

        <!-- Activity that allows to specify the application settings -->
        <activity
            android:name=".activities.settings.SettingsActivity_"
            android:configChanges="locale"
            android:label="@string/st_title" />

        <activity
            android:name=".activities.SearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <!-- Activity that allows to make search in Saved Items activity -->
        <activity
            android:name="com.jaspersoft.android.jaspermobile.activities.storage.SavedItemsSearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" >
        </activity>

        <!-- Activity that allows to make search in Favorites activity -->
        <activity
            android:name="com.jaspersoft.android.jaspermobile.activities.favorites.FavoritesSearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" >
        </activity>

        <!-- Activity that shows Privacy Policy -->
        <activity
            android:name=".activities.PrivacyPolicyActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" >

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.jaspersoft.android.privacy_policy" />
            </intent-filter>

            </activity>

        <!-- Service used to manage the cache and provide web service result to an activity -->
        <service
            android:name=".network.XmlSpiceService"
            android:exported="false" />

        <provider
            android:name=".db.MobileDbProvider"
            android:authorities="com.jaspersoft.android.jaspermobile.db.provider"
            android:exported="false" />

    </application>

</manifest>