<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2015 TIBCO Software, Inc. All rights reserved.
  ~ http://community.jaspersoft.com/project/jaspermobile-android
  ~
  ~ Unless you have purchased a commercial license agreement from Jaspersoft,
  ~ the following license terms apply:
  ~
  ~ This program is part of TIBCO Jaspersoft Mobile for Android.
  ~
  ~ TIBCO Jaspersoft Mobile is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ TIBCO Jaspersoft Mobile is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with TIBCO Jaspersoft Mobile for Android. If not, see
  ~ <http://www.gnu.org/licenses/lgpl>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaspersoft.android.jaspermobile" >

    <!-- Allows applications to access information about networks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows application to open network sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allows an application to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Allows an application to create accounts using Android infrastructure -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".JasperMobileApplication_"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/Theme.JasperMobile"
        android:allowBackup="false"
        android:largeHeap="true">
        <meta-data
            android:name="roboguice.modules"
            android:value="com.jaspersoft.android.jaspermobile.JasperMobileModule" />
        <meta-data
            android:name="roboguice.annotations.packages"
            android:value="com.jaspersoft.android.jaspermobile" />

        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Main activity -->
        <activity
            android:name=".activities.navigation.NavigationActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity that allows to specify the report options before running it -->
        <activity
            android:name=".activities.inputcontrols.InputControlsActivity_"
            android:label="@string/ro_page_title"
            android:theme="@style/Theme.JasperMobile.NoToolbar"/>

        <activity
            android:name=".activities.inputcontrols.SingleSelectActivity_"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activities.inputcontrols.MultiSelectActivity_"
            android:theme="@style/Theme.JasperMobile.NoToolbar"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity that performs report viewing in HTML format through visualize -->
        <activity
            android:name=".activities.viewer.html.report.ReportViewerActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale"
            android:parentActivityName=".activities.navigation.NavigationActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.navigation.NavigationActivity_" />
        </activity>

        <!-- Activity that performs report viewing in HTML format -->
        <activity
            android:name=".activities.viewer.html.report.ReportHtmlViewerActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale"
            android:parentActivityName=".activities.navigation.NavigationActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.navigation.NavigationActivity_" />
        </activity>

        <!-- Activity that performs report viewing in HTML format -->
        <activity
            android:name=".activities.viewer.html.SavedReportHtmlViewerActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <activity
            android:theme="@style/Theme.JasperMobile.NoToolbar.TransparentStatusBar"
            android:name=".activities.info.ResourceInfoActivity_"/>

        <!-- Activity that performs dashboard viewing in HTML format -->
        <activity
            android:name=".activities.viewer.html.dashboard.Amber2DashboardActivity_"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <activity
            android:name=".activities.viewer.html.dashboard.AmberDashboardActivity_"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <activity
            android:name=".activities.viewer.html.dashboard.LegacyDashboardViewerActivity_"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale" />

        <!-- Activity that performs report saving to the local storage -->
        <activity
            android:name=".activities.save.SaveReportActivity_"
            android:configChanges="screenSize|orientation|locale"
            android:label="@string/sr_ab_title"
            android:windowSoftInputMode="stateHidden" />

        <!-- Activity that allows to specify the application settings -->
        <activity
            android:name=".activities.settings.SettingsActivity_"
            android:theme="@style/Theme.JasperMobile.Settings"
            android:configChanges="locale"
            android:label="@string/st_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.navigation.NavigationActivity_" />
        </activity>

        <activity
            android:name=".activities.library.LibrarySearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" >
        </activity>

        <activity
            android:name=".activities.repository.RepositorySearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" >
        </activity>

        <!-- Activity that allows to make search in Saved Items activity -->
        <activity
            android:name=".activities.storage.SavedItemsSearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" />

        <!-- Activity that allows to make search in Favorites activity -->
        <activity
            android:name=".activities.favorites.FavoritesSearchableActivity_"
            android:configChanges="locale"
            android:launchMode="singleTop" />

        <!-- Activity that shows Privacy Policy -->
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".activities.PrivacyPolicyActivity_"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|locale"
            android:parentActivityName=".activities.navigation.NavigationActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.navigation.NavigationActivity_" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.jaspersoft.android.privacy_policy" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.auth.AuthenticatorActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="jaspersoft.intent.action.AUTHORIZE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".auth.AccountsReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".util.LocaleChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Service used to manage the cache and provide web service result to an activity -->
        <service
            android:name=".network.XmlSpiceService"
            android:exported="false" />

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <provider
            android:name=".db.MobileDbProvider"
            android:authorities="com.jaspersoft.android.jaspermobile.db.provider"
            android:exported="false" />

        <!-- SDK external components -->
        <service
            android:name=".auth.JasperAuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/default_authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".auth.JasperSyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

    </application>

</manifest>