<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (C) 2012-2014 Jaspersoft Corporation. All rights reserved.
    http://community.jaspersoft.com/project/jaspermobile-android

    Unless you have purchased a commercial license agreement from Jaspersoft,
    the following license terms apply:

    This program is part of Jaspersoft Mobile for Android.

    Jaspersoft Mobile is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Jaspersoft Mobile is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Jaspersoft Mobile for Android. If not, see
    <http://www.gnu.org/licenses/lgpl>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaspersoft.android.jaspermobile"
    android:installLocation="auto">

    <!-- Allows applications to access information about networks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows application to open network sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allows an application to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher_jaspermobile"
        android:label="@string/app_label"
        android:name=".JasperMobileApplication"
        android:theme="@style/Theme.JasperMobile"
        android:hardwareAccelerated="true" >

        <!-- Main activity -->
        <activity android:name=".activities.HomeActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.jaspersoft.android.samples.jaspermobile.action.EDIT_SERVER_PROFILE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.repository.SearchActivity"
            />
        </activity>

        <!-- Activity that provides the server profiles management -->
        <activity android:name=".activities.ServerProfilesManagerActivity" />

        <!-- Activity that provides functionality for creating and modifying server profiles -->
        <activity android:name=".activities.ServerProfileActivity">
            <intent-filter>
                <action android:name="com.jaspersoft.android.samples.jaspermobile.action.ADD_SERVER_PROFILE" />
                <action android:name="com.jaspersoft.android.samples.jaspermobile.action.EDIT_SERVER_PROFILE" />
            </intent-filter>
        </activity>

        <!-- Activity that performs repository browsing -->
        <activity android:name=".activities.repository.BrowserActivity" >
            <!-- enable the search dialog to send searches to SearchActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.repository.SearchActivity"
            />
        </activity>

        <!-- Activity that performs library view -->
        <activity
            android:name=".activities.repository.LibraryActivity_"
            android:label="@string/h_library_label"
            />

        <!-- Activity that performs viewing of the favorite items -->
        <activity android:name=".activities.repository.FavoritesActivity" />

        <!-- Activity that performs viewing of the saved reports -->
        <activity android:name=".activities.storage.SavedReportsActivity" />

        <!-- Activity that performs searches based on a query string and presents the search results-->
        <activity android:name=".activities.repository.SearchActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
            />
        </activity>

        <!-- Activity that performs viewing of the resource info -->
        <activity android:name=".activities.resource.ResourceInfoActivity" />

        <!-- Activity that allows to specify the report options before running it -->
        <activity android:name=".activities.report.ReportOptionsActivity"
            android:windowSoftInputMode="stateHidden"
        />

        <!-- Activity that performs report viewing in HTML format -->
        <activity android:name=".activities.viewer.html.ReportHtmlViewerActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
        />

        <!-- Activity that performs report viewing in HTML format -->
        <activity android:name=".activities.viewer.html.SavedReportHtmlViewerActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
        />

        <!-- Activity that performs dashboard viewing in HTML format -->
        <activity android:name=".activities.viewer.html.DashboardHtmlViewerActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
        />

        <!-- Activity that performs report saving to the local storage -->
        <activity android:name=".activities.report.SaveReportActivity"
            android:windowSoftInputMode="stateHidden"
        />

        <!-- Activity that allows to specify the application settings -->
        <activity android:name=".activities.SettingsActivity" />

        <!-- Service used to manage the cache and provide web service result to an activity -->
        <service android:name="com.jaspersoft.android.sdk.client.async.JsXmlSpiceService"
            android:exported="false" />

    </application>

</manifest>